.container {
    margin: 10px 20px;
    display: inline-block;
    position: relative;
}

.container canvas {
    border: 1px solid;
}

.pointer {
    background: red;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
}

.fighter {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.target {
    background: blue;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    -webkit-animation: blinking 1000ms ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes blinking {
    0% {background: transparent}
    100% {background: blue}
}

#div2blink{
    -webkit-transition: backgroundColor 0.05s ease-in-out;
    -ms-transition:     backgroundColor 0.05s ease-in-out;
    transition:         backgroundColor 0.05s ease-in-out;
}